[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# 機械学習用
sklearn = "*"
pandas = "*"
ipykernel = "*"
japanize-matplotlib = "*"
tqdm = "*"
ipywidgets = "*"
pillow = "*"
# スクレイピング用
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
seaborn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
